* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: radial-gradient(#395582, #d83137);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  animation: move 3s linear infinite;
}

.pass-div {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 150px;
  font-size: 40px;
  color: white;
  padding: 60px;
  border: 8px solid white;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {background-image: radial-gradient(#395582, #d83137); top: 200px; left: 50px}
  15% {background-image: radial-gradient(#d83137, #b3f442); top: 250px; left: 150px}
  25% {background-image: radial-gradient(#b3f442, #e822b6); top: 150px; left: 100px;}
  35% {background-image: radial-gradient(#e822b6, #22d1e8); top: 100px; left: 50px;}
  50% {background-image: radial-gradient(#22d1e8, #395582); top: 50px; right: 10px;}
  65% {background-image: radial-gradient(#e822b6, #22d1e8); top: 100px; right: 150px;}
  75% {background-image: radial-gradient(#e822b6, #22d1e8); top: 150px; right: 100px;}
  85% {background-image: radial-gradient(#d83137, #b3f442); top: 250px; right: : 150px;}
  100% {background-image: radial-gradient(#395582, #d83137); top: 200px; right: 200px;}
}


#pass {
  padding: 20px 120px;
}
